
main {
    @include flex-column;
    @include header;
    @include p-text;
    
    #top-image {
        width: 100%;
        height: auto;

        @media (min-width:820px) {
            width: 100%;
            max-width: 1150px;
            height: auto;
        }
    }

    .intro {
        text-align: center;
        width: 100%;
        height: auto;

        @include text-width;
    }

    .tour-link {
        a {
            color: black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }  
    }
    .sorting-buttons {
        margin-bottom: 70px;     
    }

    .tour-slideshow {
        background-color: $yellowsun;
        height:300px;
        width:100%;
    }

    .our-tours {
        @include flex-column;
        width: 100%;
        height: auto;

        @media (min-width:820px) {
            @include flex-wrap;
            width: 100%;
            max-width: 1200px;
        }

        .tour-display {
            display:flex;
            height:200px;
            width: 100%;
            // background-color: $barelymint;
            margin: 10px;

            @media (min-width:820px) {
                @include flex-wrap;
                align-items: center;
                width: 100%;
                max-width: 300px;
            }

            img {
                width: 50%;
                background-color: $halfsun;
                object-fit: cover;

                @media (min-width:820px) {
                    width:100%;
                    height:300px;
                }

            }

            .tour-text {
                display:flex;
                flex-direction: column;
                width:50%;
                margin:5px;

                @media (min-width:820px) {
                    width:100%;
                }
                
                .tour-header {
                    display:flex;
                    align-items: center;
                    height:30px;
                }

                .tour-description {
                    height:100px;
                    p {
                        margin: 5px 0px 0px 0px;
                        @media (max-width:600px) {
                            font-size: small;
                        }
                    }
                }

                .tour-date {
                    display:flex;
                    align-items: center;
                    font-weight: 600;
                    height:30px;
                }
                
                .tour-price-and-booking {
                    display:flex;
                    justify-content: space-between;

                    .tour-price {
                        align-items: center;
                        justify-content: flex-start;
                        p {
                            font-size:large;
                            @media (max-width:600px) {
                                font-size: medium;
                            }
                        }
                    }
                    .tour-booking {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 50%;
                        a {
                            color: black;
                            text-decoration: none;
                            padding: 14px 16px;
                            display: block;
                            background-color: $barelymint;
                            @media (max-width:600px) {
                                padding: 12px 14px;
                                font-size: small;
                            }
                            @media (max-width:410px) {
                                padding: 10px 12px;
                                font-size: x-small;
                            }
                            &:hover {
                                background-color: $mintgreen;
                                color:white;
                            }
                          }
                    }
                }
            }
        }
    }
    
    .tokyo-tours-history {
        @include text-width;

        article {
            @include flex-column;
        }
        aside {
            @include flex-column;
            margin-bottom: 10%;
        }
    }

    .tokyo-tours-staff {
        @include flex-column;
        width: 100%;
        height: auto;

        @media (min-width:820px) {
            width: 100%;
            max-width: 1200px;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .staff-member {
            @include flex-column;
            height: 500px;
            width: 100%;
            margin: 10px;

            @media (min-width:375px){
                width: 375px;
            }

            img {
                background-color: $lighttokyored;
                height: 50%;
                width: 250px;
                border-radius: 50%;
                object-fit: contain;
            }

            .staff-info {
                @include flex-column;
                width: 100%;
                text-align: center;
                height:50%;
                p {
                    margin:5px;
                }
            }
        }
    }

    .customer-reviews {
        @include flex-column;
        width: 100%;
        height: auto;

        .review {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            height:auto;
            width: 100%;
            // background-color: $barelymint;
            margin-bottom: 250px;
            padding:5px;

            @media (min-width:700px) {
                width: 100%;
                max-width: 700px;
            }

            .user {
                display: flex;
                flex-direction: row;
                align-items: center;

                .user-image {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: $halfsun;
                }

                .user-name {
                    display: flex;
                    flex-direction: column;
                    margin-left:3%;

                    p:first-of-type {
                        font-weight: 600;
                        font-size: medium;
                    }
                    p {
                        margin:3px;
                        font-family: $nunito;
                    }
                }
            }

            .rating {
                display: flex;
                flex-direction: row;
                align-items: center;
                height:40px;
                width: 100%;
                margin-top: 3%;

                .rating-circle {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: $palemidnightblue;
                    border-style: solid;
                    border-color: black;
                    border-width: 1px;
                }

                .rating-circle:nth-child(5) {
                    background-color: transparent;
                }
            }

            time {
                @include flex-row;
                height:40px;
                width: 100%;
                font-family: $nunito;
                margin-top: 1%;
            }

            .review-text {
                @include flex-row;
                height:auto;
                text-align: left
            }

            a {
                text-align: right;
                padding: 5px 8px;
                color: black;
                font-family: $nunito;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }

            }
        }
    }

    .tokyo-tours-contact {
        @include flex-column;
        text-align: center;
        padding-bottom: 10%;

        @media (min-width:820px) {
            display: flex;
	        flex-direction: row-reverse;
            #top-image {
                width: 70%
            }
            .address-and-phone-number
            {
                width: 30%;
            }
        }
    }

    .contact-us {
        @include flex-column;;
        width:100%;
        height: auto;

        @media (min-width:400px) {
            width: 100%;
            max-width: 400px;
            height: auto;
        }

        label {
            margin-left: 10px;
            font-family: $nunito;
            font-size: large;
        }
        ::placeholder {
            font-family: $nunito;
            font-size: large;
            font-weight: 400;
        }

        select {
            height: 50px;
            @include input-styling;
        }

        textarea {
            height: 200px;
            @include input-styling;
            resize: none;
        }

        input[type=email] {
            height: 50px;
            @include input-styling;
        }

        input[type=submit] {
            height: 50px;
            font-family: $nunito;
            @include input-styling;
            &:hover {
                background-color: $mintgreen;
                color:white;
            }
        }


        
    }
}