//FLEXBOX
@mixin flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@mixin flex-wrap {
	height: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

//TEXT AND LINKS

@mixin header {
	h1 {
		font-family: $nunito;
	}
	h2 {
		font-family: $nunito;
	}
	h3 {
		font-family: $nunito;
	}
	h4 {
		font-family: $nunito;
	}
	h5 {
		font-family: $nunito;
	}
	h6 {
		font-family: $nunito;
	}
}

@mixin p-text {
	p {
		font-family: $ssp;
	}
	a {
		font-family: $ssp;
	}
}

@mixin text-width {
	@media (min-width:500px) {
		width: 100%;
		max-width: 500px;
		height: auto;
	}
}


@mixin input-styling {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid $mintgreen;
	border-radius: 8px;
	background-color: $barelymint;
	font-size: 16px;
}

//IMAGES
