//FLEXBOX
@mixin flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

//TEXT AND LINKS

@mixin header {
	h1 {
		font-family: $nunito;
	}
	h2 {
		font-family: $nunito;
	}
	h3 {
		font-family: $nunito;
	}
	h4 {
		font-family: $nunito;
	}
	h5 {
		font-family: $nunito;
	}
	h6 {
		font-family: $nunito;
	}
}

@mixin p-text {
	p {
		font-family: $ssp;
		font-size: 14px;
	}
	a {
		font-family: $ssp;
		font-size: 14px;
	}
}

@mixin text-width {
	@media (min-width:500px) {
		width: 100%;
		max-width: 500px;
		height: auto;
	}
}

//IMAGES
