
main {
    @include mobile-flex;
    
    .top-image {
        @include top-image
    }

    .text {
        @include mobile-flex;
        h1 {
            font-family: $nunito;
        }
    }

    .paragraph {
        font-family: $ssp;
        text-align: center;
    }

    .tour-link {
        font-family: $ssp;
        a {
            color: black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }

}