// Colors
$midnightblue: hsl(238, 45%, 31%);
$tokyored: hsl(12, 80%, 49%);
$mintgreen: hsl(172, 29%, 71%);
$yellowsun: hsl(42, 92%, 55%);

$palemidnightblue: hsl(238, 45%, 51%);
$lighttokyored: hsl(3, 80%, 70%);
$barelymint: hsl(171, 30%, 91%);
$halfsun: hsl(42, 92%, 75%);