.header-div {
  display: flex;
  align-items: center;
  height: 70px;
  font-family: "Nunito", sans-serif;
}
.header-div .logo {
  width: 20%;
  display: flex;
  justify-content: center;
}
.header-div .logo img {
  height: 50px;
}
@media (min-width: 700px) {
  .header-div .logo img {
    height: 60px;
  }
}
.header-div .navigation {
  width: 80%;
}
.header-div .navigation nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0px;
}
.header-div .navigation a.active {
  background-color: hsl(42deg, 92%, 55%);
  color: white;
}
.header-div .navigation li {
  display: inline;
}
.header-div .navigation a {
  color: black;
  font-size: x-small;
  text-decoration: none;
  padding: 6px 8px;
  display: block;
}
@media (min-width: 500px) {
  .header-div .navigation a {
    font-size: small;
    padding: 8px 10px;
  }
}
@media (min-width: 700px) {
  .header-div .navigation a {
    font-size: large;
    padding: 12px 14px;
  }
}
.header-div .navigation a:hover {
  background-color: hsl(42deg, 92%, 75%);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 {
  font-family: "Nunito", sans-serif;
}
main h2 {
  font-family: "Nunito", sans-serif;
}
main h3 {
  font-family: "Nunito", sans-serif;
}
main h4 {
  font-family: "Nunito", sans-serif;
}
main h5 {
  font-family: "Nunito", sans-serif;
}
main h6 {
  font-family: "Nunito", sans-serif;
}
main p {
  font-family: "Source Sans Pro", sans-serif;
}
main a {
  font-family: "Source Sans Pro", sans-serif;
}
main #top-image {
  width: 100%;
  height: auto;
}
@media (min-width: 820px) {
  main #top-image {
    width: 100%;
    max-width: 1150px;
    height: auto;
  }
}
main .intro {
  text-align: center;
  width: 100%;
  height: auto;
}
@media (min-width: 500px) {
  main .intro {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
main .tour-link a {
  color: black;
  text-decoration: none;
}
main .tour-link a:hover {
  text-decoration: underline;
}
main .sorting-buttons {
  margin-bottom: 70px;
}
main .tour-slideshow {
  background-color: hsl(42deg, 92%, 55%);
  height: 300px;
  width: 100%;
}
main .our-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
@media (min-width: 820px) {
  main .our-tours {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
  }
}
main .our-tours .tour-display {
  display: flex;
  height: 200px;
  width: 100%;
  margin: 10px;
}
@media (min-width: 820px) {
  main .our-tours .tour-display {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }
}
main .our-tours .tour-display img {
  width: 50%;
  background-color: hsl(42deg, 92%, 75%);
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 820px) {
  main .our-tours .tour-display img {
    width: 100%;
    height: 300px;
  }
}
main .our-tours .tour-display .tour-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
}
@media (min-width: 820px) {
  main .our-tours .tour-display .tour-text {
    width: 100%;
  }
}
main .our-tours .tour-display .tour-text .tour-header {
  display: flex;
  align-items: center;
  height: 30px;
}
main .our-tours .tour-display .tour-text .tour-description {
  height: 100px;
}
main .our-tours .tour-display .tour-text .tour-description p {
  margin: 5px 0px 0px 0px;
}
@media (max-width: 600px) {
  main .our-tours .tour-display .tour-text .tour-description p {
    font-size: small;
  }
}
main .our-tours .tour-display .tour-text .tour-date {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 30px;
}
main .our-tours .tour-display .tour-text .tour-price-and-booking {
  display: flex;
  justify-content: space-between;
}
main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-price {
  align-items: center;
  justify-content: flex-start;
}
main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-price p {
  font-size: large;
}
@media (max-width: 600px) {
  main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-price p {
    font-size: medium;
  }
}
main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-booking {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-booking a {
  color: black;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  background-color: hsl(171deg, 30%, 91%);
}
@media (max-width: 600px) {
  main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-booking a {
    padding: 12px 14px;
    font-size: small;
  }
}
@media (max-width: 410px) {
  main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-booking a {
    padding: 10px 12px;
    font-size: x-small;
  }
}
main .our-tours .tour-display .tour-text .tour-price-and-booking .tour-booking a:hover {
  background-color: hsl(172deg, 29%, 71%);
  color: white;
}
@media (min-width: 500px) {
  main .tokyo-tours-history {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
main .tokyo-tours-history article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .tokyo-tours-history aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
main .tokyo-tours-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
@media (min-width: 820px) {
  main .tokyo-tours-staff {
    width: 100%;
    max-width: 1200px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
main .tokyo-tours-staff .staff-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%;
  margin: 10px;
}
@media (min-width: 375px) {
  main .tokyo-tours-staff .staff-member {
    width: 375px;
  }
}
main .tokyo-tours-staff .staff-member img {
  background-color: hsl(3deg, 80%, 70%);
  height: 50%;
  width: 250px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .tokyo-tours-staff .staff-member .staff-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 50%;
}
main .tokyo-tours-staff .staff-member .staff-info p {
  margin: 5px;
}
main .customer-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
main .customer-reviews .review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 100%;
  margin-bottom: 250px;
  padding: 5px;
}
@media (min-width: 700px) {
  main .customer-reviews .review {
    width: 100%;
    max-width: 700px;
  }
}
main .customer-reviews .review .user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .customer-reviews .review .user .user-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: hsl(42deg, 92%, 75%);
}
main .customer-reviews .review .user .user-name {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
main .customer-reviews .review .user .user-name p:first-of-type {
  font-weight: 600;
  font-size: medium;
}
main .customer-reviews .review .user .user-name p {
  margin: 3px;
  font-family: "Nunito", sans-serif;
}
main .customer-reviews .review .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 3%;
}
main .customer-reviews .review .rating .rating-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: hsl(238deg, 45%, 51%);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
main .customer-reviews .review .rating .rating-circle:nth-child(5) {
  background-color: transparent;
}
main .customer-reviews .review time {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin-top: 1%;
}
main .customer-reviews .review .review-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  text-align: left;
}
main .customer-reviews .review a {
  text-align: right;
  padding: 5px 8px;
  color: black;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}
main .customer-reviews .review a:hover {
  text-decoration: underline;
}
main .tokyo-tours-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
}
@media (min-width: 820px) {
  main .tokyo-tours-contact {
    display: flex;
    flex-direction: row-reverse;
  }
  main .tokyo-tours-contact #top-image {
    width: 70%;
  }
  main .tokyo-tours-contact .address-and-phone-number {
    width: 30%;
  }
}
main .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
@media (min-width: 400px) {
  main .contact-us {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
main .contact-us label {
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-size: large;
}
main .contact-us ::-moz-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: 400;
}
main .contact-us :-ms-input-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: 400;
}
main .contact-us ::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: 400;
}
main .contact-us select {
  height: 50px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid hsl(172deg, 29%, 71%);
  border-radius: 8px;
  background-color: hsl(171deg, 30%, 91%);
  font-size: 16px;
}
main .contact-us textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid hsl(172deg, 29%, 71%);
  border-radius: 8px;
  background-color: hsl(171deg, 30%, 91%);
  font-size: 16px;
  resize: none;
}
main .contact-us input[type=email] {
  height: 50px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid hsl(172deg, 29%, 71%);
  border-radius: 8px;
  background-color: hsl(171deg, 30%, 91%);
  font-size: 16px;
}
main .contact-us input[type=submit] {
  height: 50px;
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid hsl(172deg, 29%, 71%);
  border-radius: 8px;
  background-color: hsl(171deg, 30%, 91%);
  font-size: 16px;
}
main .contact-us input[type=submit]:hover {
  background-color: hsl(172deg, 29%, 71%);
  color: white;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  background-color: hsl(171deg, 30%, 91%);
  margin-top: 70px;
}
.footer-div img {
  height: 60px;
}
.footer-div .links {
  width: 100%;
}
.footer-div nav ul {
  list-style-position: inside;
  list-style-type: none;
  font-weight: 600;
}
.footer-div nav ul li {
  padding: 5px 7px;
}
.footer-div ul li {
  list-style-position: inside;
}
.footer-div a {
  color: black;
  text-decoration: none;
  padding: 5px 8px;
}
.footer-div a.active {
  text-decoration: underline;
}
.footer-div a:hover {
  background-color: hsl(42deg, 92%, 75%);
  color: white;
}
.footer-div .social-media-links {
  display: flex;
  align-items: center;
}
.footer-div .social-media-links .fa-brands {
  padding: 7px;
}

@media (max-width: 820px) {
  .footer-div {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
  }
  .social-media-text {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */